@using Microsoft.AspNetCore.Http
@using HealthCareConsultation.Data
@inject HealthcareDbContext _context
@inject IHttpContextAccessor HttpContextAccessor

@{
    var doctorId = HttpContextAccessor.HttpContext.Session.GetInt32("DoctorId");
    var doctor = doctorId.HasValue ? _context.DoctorProfiles.FirstOrDefault(d => d.Id == doctorId.Value) : null;

    string profileImagePath = !string.IsNullOrEmpty(doctor?.ProfileImage)
        ? doctor.ProfileImage
        : "/assets/images/avatar-4.jpg";
    string doctorName = doctor?.FullName ?? "Doctor";

    var notifications = _context.Notifications
        .Where(n => n.ReceiverType == "All Doctors" || n.SpecificDoctorId == doctorId)
        .OrderByDescending(n => n.CreatedAt)
        .Take(5) // Top 5 recent
        .ToList();

    var unreadCount = notifications.Count(n => !n.IsRead);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Title</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Gradient Able Bootstrap admin template made using Bootstrap 4. The starter version of Gradient Able is completely free for personal project." />
    <meta name="keywords" content="free dashboard template, free admin, free bootstrap template, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
    <meta name="author" content="codedthemes">
    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/assets/icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/assets/icon/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/assets/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/jquery.mCustomScrollbar.css">
    <!-- SweetAlert CSS -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="loader-bar"></div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a href="/DoctorDashboard/Index">
                            <img class="img-fluid" src="~/assets/images/logo.png" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="header-notification">
                                <a href="#!">
                                    <i class="ti-bell"></i>
                                    @if (unreadCount > 0)
                                    {
                                        <span class="badge bg-c-pink">@unreadCount</span>
                                    }
                                </a>
                                <ul class="show-notification">
                                    <li>
                                        <h6>Notifications</h6>
                                        @if (unreadCount > 0)
                                        {
                                            <label class="label label-danger">New</label>
                                        }
                                    </li>
                                    @if (!notifications.Any())
                                    {
                                        <li><p class="text-center text-muted px-3">No notifications</p></li>
                                    }
                                    else
                                    {
                                        @foreach (var n in notifications)
                                        {
                                            <li>
                                                <div class="media">
                                                    <img class="d-flex align-self-center img-radius" src="~/assets/images/avatar-2.jpg" alt="Admin">
                                                    <div class="media-body">
                                                        <h5 class="notification-user">Admin</h5>
                                                        <p class="notification-msg">@n.Message</p>
                                                        <span class="notification-time">@n.CreatedAt.ToString("g")</span>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>

                            <li class="user-profile header-notification">
                                <a href="#">
                                    <img src="@profileImagePath" class="img-radius" alt="User-Profile-Image" style="height: 40px; width: 40px; object-fit: cover;">
                                    <span style="margin-left: 8px;">@doctor?.FullName</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li>
                                        <form asp-controller="Auth" asp-action="Logout" method="post" id="logoutForm">
                                            @Html.AntiForgeryToken()
                                            <a class="dropdown-item text-danger" href="javascript:void(0)" onclick="confirmLogout()">
                                                <i class="ti-layout-sidebar-left"></i> Logout
                                            </a>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="~/#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation"></div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active">
                                    <a href="/DoctorDashboard/Index">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Doctor Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>

                            <ul class="pcoded-item pcoded-left-item">
                                <li>
                                    <a href="/Appointment/DoctorAppointments">
                                        <span class="pcoded-micon">
                                            <i class="ti-calendar"></i>
                                            <b>FC</b>
                                        </span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Appointments</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Prescription/DoctorPrescriptions">
                                        <span class="pcoded-micon">
                                            <i class="ti-calendar"></i>
                                            <b>FC</b>
                                        </span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Prescriptions</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>


                                <li>
                                    <a href="/DoctorNotification/Index">
                                        <span class="pcoded-micon">
                                            <i class="ti-bell"></i>
                                            <b>FC</b>
                                        </span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Notifications</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                    </nav>
                    <div class="pcoded-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Required Jquery -->
    <script type="text/javascript" src="~/assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/assets/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/assets/js/modernizr/modernizr.js"></script>
    <!-- am chart -->
    <script src="~/assets/pages/widget/amchart/amcharts.min.js"></script>
    <script src="~/assets/pages/widget/amchart/serial.min.js"></script>
    <!-- Chart js -->
    <script type="text/javascript" src="~/assets/js/chart.js/Chart.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="~/assets/pages/dashboard/custom-dashboard.min.js"></script>
    <script type="text/javascript" src="~/assets/js/script.js"></script>
    <script type="text/javascript " src="~/assets/js/SmoothScroll.js"></script>
    <script src="~/assets/js/pcoded.min.js"></script>
    <script src="~/assets/js/vartical-demo.js"></script>
    <script src="~/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- SweetAlert and Logout Script -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmLogout() {
            Swal.fire({
                title: 'Logout Confirmation',
                text: "Are you sure you want to logout?",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, logout!',
                cancelButtonText: 'Cancel',
                backdrop: 'rgba(0,0,0,0.4)'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('logoutForm').submit();
                }
            });
        }

        @RenderSection("Scripts", required: false)
    </script>
</body>
</html>